@charset "UTF-8";

.sidebar a {
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.sidebar a:hover {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.menuflot {
  /* height: 100vh; */
  position: relative;
  /* font-family: "Lato"; */
  font-size: 1rem;
  line-height: 1;
}

/* -------------
Sidebar
----------------*/
.sidebar {
  position: fixed;
  left: -17rem;
  width: 17rem;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: #19222a;
  z-index: 9999;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

.sidebar header {
  background-color: #f9b800;
  width: 100%;
  display: block;
  padding: 0.75em 1em;
}

/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
  position: fixed;
  background-color: #19222a;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  /* -------------
  Chev elements
  ----------------*/
  /* -------------
  Nav-Flyout
  ----------------*/
  /* -------------
  Hover
  ----------------*/
}
.sidebar-nav ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
.sidebar-nav ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  width: 100%;
  /* -------------
  Sidebar: icons
  ----------------*/
}
.sidebar-nav ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75em;
  padding: 1.05em 1em;
  position: relative;
  display: block;
}
.sidebar-nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.sidebar-nav ul li i {
  font-size: 1.8em;
  padding-right: 0.5em;
  width: 9em;
  display: inline;
  vertical-align: middle;
}
.sidebar-nav > ul > li > a:after {
  content: ">";
  font-family: ionicons;
  font-size: 0.5em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 45%;
}
.sidebar-nav .nav-flyout {
  position: absolute;
  background-color: #080d11;
  z-index: 9;
  left: 2.5em;
  top: 0;
  height: 100vh;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar-nav .nav-flyout a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.sidebar-nav ul > li:hover .nav-flyout {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/** css para menus **/
/* Estilos para el icono de hamburguesa */
.hamburger {
  width: 48px;
  height: 48px;
  position: fixed;
  z-index: 1000;

}

/*.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: black;
}

.hamburger:before {
  top: 0;
}

.hamburger:after {
  bottom: 0;
}
*/

/* Mostrar el menú al pasar el mouse sobre el icono de hamburguesa */
.hamburger:hover + .sidebar {
    left:0; /* Mover el menú a la posición visible */
}

.sidebar:hover	{
	left:0; /* Mover el menú a la posición visible */
}
.hamburger span{
	background-color: #000;
  display: block;
  height: 2px;
  left: 14px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 20px;
}

.hamburger span:first-child {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
.hamburger span:last-child {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}
